body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(gray, #000);
}
.container{
    width: 400px;
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(243, 244, 244);
    border-radius: 10px;
}
.container__profile{
    align-items: center;
    margin: 10px;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container__profile>h1{
    padding: 2px;
    margin-bottom: 5px;
}
.container__profile>p{
    margin: 5px;
    padding: 3px;
    color: rgb(159, 158, 158);
    font-size: 12px;
}
.container__profile>p:first-child{
    margin: 0px;
}
.container__profile>p:last-child{
    margin-top: -8px;
}
.container__profile>img{
    margin-top: 20px;
    border-radius: 100%;
    box-shadow: 0px 10px 10px rgb(183, 182, 182);
}
.container__description{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.parrafos{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    margin-top: 25px;
}
.parrafo{
    font-family: sans-serif;
}
.color{
    color: rgb(132, 131, 131);
}
.strong{
    font-weight: bold;
}
.parrafo>p{
    margin: 2px;
    text-align:center;
}
.buttons{
    margin: 10px;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

button{
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    font-family: sans-serif;
}
.btn__menssage{
    border: none;
    background-color: rgb(157, 252, 211);
    color: #000;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    font-size: 16px;
}
.btn__more{
    border: none;
    background-color: #fff;
    margin-bottom: 10px;
}

