
        /* Selectores*/
        /* 1. Selectores de etiqueta*/
        h1{
            color: red;
        }
        h2{
            color: green;
        }
        
        .custom{
            color: red;
        }

        #descripcion{
            color: cadetblue;
            color: rgba(43, 25, 24, .80);
            color: rgb(48 25 24);
            color: hsl(10, 30%, 60%);
        }
        /* Atributos que se heredan */
        /* 
            El > es para darle algo de hijos inmediatos 
            para ponerles estilos
        */
        .container{
            color: rgb(19, 202, 141);
            font-size: 30px;
        }

        .container > p {
            color: blue;
        }

        button + button {
            margin-left: 50px;
        }

        /* Pseudo clases */
        .con{
            font-size: 15px;
        }
        ul > :first-child{
            color: violet;
        }
        ul > :last-child{
            color: teal;
        }
        ul > :nth-child(3){
            color: aquamarine;
        }

        li:hover{
            color: red;
            cursor:pointer;
        }
        li:active{
            color: green;
        }
        